p, h1, h2, h3, h4, h5, h6, ul, ol{
	margin-top: 0;
	margin-bottom: 15px;
}
.mainwrapper{
	background-color: #eee;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}
.menu{
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;
}
.menu__item{
	list-style-type: none;
}
