.imagenportada{
	background-image: url("images/atardecercampo.jpg");
	width: 100%;
	height: 350px;
	height: 66vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}